.result {
  background: $white;
  font-size: 18px;
  padding: 15px;
}

.back {
  color: $black;
  font-size: 18px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.result-details {
  list-style-type: none;
  padding: 0;

  li {
    margin: 0 0 15px;
  }
}
